imap fd <Esc>

nnoremap <Leader>ww :w<CR> " 保存
nnoremap <Leader>qq :q<CR> " 退出
nnoremap <Leader>wa :wa<CR> " 保存所有
nnoremap <Leader>qa :qa<CR> " 退出所有

map <Leader>wj <C-w>j " 下定位窗格
map <Leader>wk <C-w>k " 上定位窗格
map <Leader>wh <C-w>h " 左定位窗格
map <Leader>wl <C-w>l " 右定位窗
